.centerArea {
    width: 90vw;
    margin-left: 10vw;
    background-color: #fffefa;
}

.centerAreaContent {
    padding-top: var(--space-one);
    padding-left: var(--space-one);
    padding-right: var(--space-one);
}

.typewriter {
    margin: 0;
    padding: 0;
}

.motto {
    font-family: "Apercu Mono", monospace;
    font-size: var(--font-size-three);
    padding-top: var(--space-two);
    padding-right: 25vw;
    color: var(--color-primary);
}

@keyframes typing {
    from { width: 0 }
}

@keyframes caret {
    50% { border-right-color: transparent; }
}

.typewriterOne {
    margin: 0;
    font: bold 60px "Apercu Mono", monospace;
    color: var(--color-primary);
    width: 16ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .05em solid;
    animation: typing 4s steps(16) infinite,
    caret 1s steps(1) infinite;
}

.typewriterTwo {
    margin: 0;
    font: bold 60px "Apercu Mono", monospace;
    color: var(--color-primary);
    width: 4ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .05em solid;
    animation: typing 2s steps(4) infinite,
    caret 1s steps(1) infinite;
}

.typewriterThree {
    margin: 0;
    font: bold 70px "Apercu Mono", monospace;
    color: var(--color-primary);
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: .05em solid;
    animation: typing 6s steps(21) infinite,
    caret 1s steps(1) infinite;
}

.footerIndexContainer {
    position: fixed;
    width: 90vw;
    bottom: 0;
    right: 0;
    margin-left: 10vw;
}

.linkArea {
    position: fixed;
    bottom: 20vh;
    right: 10vw;
    overflow: hidden;

    span {
        display: flex;
        height: var(--space-two);

        img {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        &:hover {
            a {
                color: var(--main-bg-color);
            }

            img {
                filter: brightness(0) saturate(100%) invert(92%) sepia(1%) saturate(2384%) hue-rotate(58deg) brightness(113%) contrast(106%);
            }
        }

        a {
            display: inline-block;
            font-family: "Apercu Mono", monospace;
            font-size: var(--font-size-two);
            text-decoration: underline;
            color: var(--color-primary);
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 0;
            background-color: var(--color-primary);
            transition: transform .5s;
            transform-origin: bottom;
            transform: translateY(100%);
            z-index: -1;
        }

        &:hover::before {
            width: 100%;
            height: 100%;
            transform: translateY(0);
        }
    }
}

.footerIndex {
    height: 10vh;
    font-family: "Apercu Mono", monospace;
    font-size: var(--font-size-six);
    color: var(--color-primary);
    border-top: var(--color-primary) solid var(--line-regular);
    padding-left: var(--space-one);
    padding-top: var(--space-five);

    p {
        padding-left: var(--space-five);
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .typewriter {
        display: none;
    }

    .centerArea {
        width: 85vw;
        margin-left: 15vw;
    }

    .motto {
        padding: var(--space-five);
    }

    .footerIndexContainer {
        width: 85vw;
        margin-left: 15vw;
    }
}

